@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/montserrat_regular.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/montserrat_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/montserrat_regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/montserrat_regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat_regular.svg#montserrat_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
html {
    height: 100%;
}
body {
    background-color: aliceblue;
    font-family: Montserrat Regular, sans-serif;
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
p {
    color: black;
    font-size: 16px;
    margin-top: .5em;
}
li {
    color: black;
    font-size: 16px;
    margin-left: 2em;
}
footer {
    background-color: #EFF3F9;
    border: 1px solid lightgrey;
    color: black;
    font-weight: bold;
}
.img-style {
    display: table;
    margin: 0 auto;
}
.page-img {
    display: table;
    margin: 0 auto;
    width: 60%;
}
.list__header {
    color: black;
}
.navbar-brand img {
    width: 90px;
}
.nav-link {
    color: ghostwhite;
}
.nav-link:hover {
    color: aqua;
}
.active-style {
    color: aqua;
}
.logo-style {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    max-width: 44px;
    max-height: 44px;
}
.card {
    text-align: center;
    color: black;
    background-color: #EFF3F9;
}
.card h4 {
    background-color: #EFF3F9;
}
.card a{
    text-decoration: none;
}
.card-text-style {
    color: black;
    padding-bottom: 1em;
 }
.card-title-style {
    color: black;
    font-weight: bold;
}
.h-style {
    color: black;
    font-weight: bold;
    text-align: center;
}
.slide-text {
    margin: auto auto;
}
.footer-text {
    margin: auto auto;
}
.main-container {
    border-radius: 5px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-inline: auto;
    background-color: #EFF3F9;
    border: 1px solid lightgrey;
}
.right-bar {
    border-radius: 5px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-inline: auto;
    background-color: #EFF3F9;
    border: 1px solid lightgrey;
}
.audio-text {
    color: black;
    font-weight: bold;
}
.audio-page {
    border-radius: 5px;
    background-color: #EFF3F9;
    border: 1px solid lightgrey;
}
.audio-container {
    border-radius: 5px;
    margin-inline: 1em;
    border: 1px solid lightgrey;
}
.text-info-container {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 5px;
}
.hidden {
    display: none;
}
.hidden-text {
    display: none;
}
.text-title h3{
    margin-inline: auto;
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 32px;
    cursor: pointer;
}
.border-text-title {
    border-bottom: 1px solid lightgrey;
}
.text {
    margin-top: .5em;
    margin-bottom: .5em;
    border: 1px solid lightgrey;
    background-color: #EFF3F9;
    border-radius: 5px;
}
.text p, h4, button {
    margin-top: .5em;
}
.fade-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}
.modal-window {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #EFF3F9;
    border-radius: 5px;
}
.modal-header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #e6e3e3;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.modal-header h3 {
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: .5em;
}
.modal-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: .5em;
}
.modal-footer button {
    margin-inline: 1em;
}
.form input, textarea, select {
    display: block;
    box-sizing: border-box;
    width: 400px;
    height: 30px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    margin-inline: auto;
}
.form textarea {
    height: 150px;
    resize: none;
}
.comment-container {
    border-radius: 5px;
    background-color: #EFF3F9;
    border: 1px solid lightgrey;
}
.comment-h {
    padding: .5em;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.comment-container p {
    padding-inline: 1em;
    padding-top: .6em;
    border-bottom: .5px solid lightgrey;
}
.comment-btn {
    display: flex;
    justify-content: right;
}
.comment-text {
    border: 3px solid lightgrey;
    border-radius: 5px;
}
@media (max-width: 767.9px) {
    .carousel-indicators {
        display: none;
    }
}
@media (max-width: 360px) {
    .audio-container audio {
        width: 100%;
    }
}